.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer {
  position: relative;
  background-color: black;
  width: 80%;
  height: 80%;

  overflow: auto;
}

.slide-wraper {
  height: 100%;
  /* 這樣底下的 li block 才有辦法排成一橫排 */
  width: 9999%;
  padding: 0;
  margin: 0;
  left: 0;
  /* 這樣 slide-wraper 的 left 才有用啊 */
  position: relative;

  transition: 2s;

  li {
    color: white;
    display: inline-block;
    height: 100%;
    /* 這樣所有的 li block 之間，才沒有空隙（因為 html 空白所造成） */
    float: left;

    &:nth-child(1) {
      background-color: red;
    }
    &:nth-child(2) {
      background-color: green;
    }
    &:nth-child(3) {
      background-color: blue;
    }
    &:nth-child(4) {
      background-color: pink;
    }
  }
}

.btn-groups {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: yellow;
}

#prev-btn, #next-btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
  }

  &:after {
    display: block;
    content: "";
    height: 20px;
    width: 20px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;

    cursor: pointer;
  }
}

#prev-btn {
  left: 20px;

  &:after {
    transform: rotate(135deg);
  }
}

#next-btn {
  right: 20px;

  &:after {
    transform: rotate(-45deg);
  }
}
