html, body {
  margin: 0;
}

.background-div {
  background-color: black;
  width: 100vw;
  height: 100vh;

  color: white;
}

.portfolio-div {
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  transition: left 0.5s linear;
}

#slider-checkbox {
  display: none;
}

#slider-checkbox, #slider-label {
  position: relative;
  cursor: pointer;
}